/* Clases carrito vacío */

#container-carrito-vacio {
    height: fit-content;
    padding: 15% 0;
}

#alert-carrito-vacio {
    width: fit-content;
    height: fit-content;
}

#alert-carrito-vacio h4 {
    margin: 0;
}

/* Clases carrito con cosas */

#container-carrito {
    height: fit-content;
}

#container-carrito .row {
    height: fit-content;
}

#container-carrito .row .col-8 {
    height: fit-content;
}

#container-carrito .row .col-4 {
    height: fit-content;
}

#producto-carrito-img {
    max-width: 15vw;
}

#producto-carrito-img img{
    max-height: 10vw;
}

#carrito-producto-btn:hover {
    background-color: var(--alter2);
}

#resumen-iva-producto {
    list-style: none;
    
}

#carrito-productos-btns {
    width: 100%;
}

#carrito-producto-btn .btn-alter2 {
    width: fit-content;
}


#carrito-producto-btn-delete {
    border: none;
}

#carrito-producto-btn-delete:hover {
    background-color: var(--primary);
    color: var(--alter1);
}

#delete-icon {
    font-size: 0.75em;
}

#carrito-resumen-btn-comprar {
    border: none;
}

#carrito-resumen-btn-comprar:hover {
    background-color: var(--alter2);
}