

#item-lista-btn:hover {
    background-color: var(--alter2) !important;
    border: 1px solid var(--alter2) !important
}

#comprar-btn:hover {
    background-color: var(--alter2);
    border: 1px solid var(--alter2);
}

#separador-movil {
    display: none;
}

/* Reglas para móviles */

@media (max-width: 991.98px) {

    #separador-movil {
        display: block;
        border: 3px solid var(--secondary) !important;
        opacity: 1;
        border-radius: 1rem;
    }

    #container-brief {
        width: 100% !important;
        padding: 0
    }

    #container-items {
        width: 100% !important;
    }

    #item-lista-btns {
        display: none !important;
    }

}

@media (max-width: 767.98px) {
    
    #container-brief {
        padding: 0;
        min-width: auto;
    }

}