/* Container principal */

#main-container {
    padding: 0 10vw !important;
}

/* Reglas para dispositivos grandes */

@media (min-width: 992px) {

}

/* Reglas para dispositivos móviles */

@media (max-width: 991.98px) {
    
    #container-home {
        margin-top: 12vh;
        margin: 0 10px auto !important;
    }

}