/* Headings */

#heading {
    z-index: 900;
}

/* Cards */

.card {
    color: var(--rgb-primary) !important;
    width: 50%;
    cursor: pointer;
    transition: 0.1s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px rgba(0,0,0, 0.45);
    z-index: 3;
}

#product-card-img {
    max-width: 30%;
}

/* Marcas */

#a-nav-link {
    cursor: pointer;
}