/* Navbar */

#navbar {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

/* Branding */

#logo {
    width: 20%;
    margin-right: .5rem;
}

#branding {
    letter-spacing: .15rem;
}

/* Toggler */

#navbar-toggler {
    margin-top: 10px !important;
}

/* Menu */

#nav-link:hover {
    color: var(--alter2) !important;
}

#tags-icon {
    font-size: .75rem;
    margin-right: 1ch;
}

/* Search bar */

#form-search-bar {
    cursor: text;
}

#form-search-bar svg {
    cursor: pointer;
}

#search-bar {
    color: var(--primary);
    transition: .2s;
    width: 35ch;
}

#search-bar::placeholder {
    font-size: 2ch;
    transition: .5s;
}

#search-bar:focus {
    outline-style: none;
    box-shadow: none;
    background-color: var(--alter1) !important;
    color: var(--primary);
}

#search-bar:focus::placeholder {
    color: transparent;
}

#search-bar-icon {
    font-size: 1rem;
    margin-right: 1ch;
}

/* Currency Selector */

#currency-selector-btn:hover,
#currency-selector-btn:focus {
    color: var(--primary) !important;
    background-color: var(--secondary);
}


#cs-dropdown-toggle:hover {
    color: var(--primary);
    background-color: var(--secondary);
}

#cs-dropdown-toggle:focus {
    color: var(--primary);
    background-color: var(--secondary);
}

#currency {
    cursor: pointer;
    color: var(--alter1);
    transition: .1s;
}

#currency:hover {
    color: var(--primary);
    background-color: var(--secondary);
}

/* Login Button */

#btn-group #login-btn {
    justify-content: end;
    max-width: fit-content;
    transition: all .15s;
}

#btn-group #login-btn:hover {
    background-color: var(--secondary);
    color: var(--primary) !important;
    text-decoration: none !important;
}

#user-icon {
    margin-right: 1ch;
}

/* Cart Button */

#cart-btn {
    justify-content: end;
    max-width: fit-content;
    transition: all .15s;
}

#cart-btn:hover {
    border: 1px solid var(--alter2);
    background-color: var(--alter2);
}

#cart-icon {
    margin-right: 1ch;
}