/* Navbar */

#navbar {
    margin: 0 1rem;
}

/* Branding */

#logo {
    width: 50%;
    max-width: 105px;
    margin-right: .5rem;
}

#branding {
    letter-spacing: .15rem;
}

/* Toggler */

.navbar-toggler:focus {
    outline-style: none;
    border: none;
}

/* Menu */

#nav-link:hover    {
    color: var(--alter2) !important;
}

/* Search bar */

#form-search-bar {
    cursor: text;
}

#form-search-bar svg {
    cursor: pointer;
}

#search-bar {
    color: var(--primary);
    transition: .2s;
    width: 22ch;
}

#search-bar::placeholder {
    font-size: 2ch;
    transition: .5s;
}

#search-bar:focus {
    outline-style: none;
    box-shadow: none;
    background-color: var(--alter1) !important;
    color: var(--primary);
}

#search-bar:focus::placeholder {
    color: transparent;
}

/* Login Button */

#login-btn {
    justify-content: end;
    max-width: fit-content;
    transition: all .15s;
}

#login-btn:hover {
    background-color: var(--secondary);
    color: var(--primary) !important;
}

#bi-person-circle {
    margin: 0 .6rem .3rem 0 ;
}

/* Cart Button */

#cart-btn {
    justify-content: end;
    max-width: fit-content;
    transition: all .15s;
}

#cart-btn:hover {
    border: 1px solid var(--alter2);
    background-color: var(--alter2);
}