#producto-img-container {   
    position: relative !important;
    height: fit-content !important;
    min-height: 10vw !important;
}

#producto-img {
    margin: 0 auto !important;
    height: 50vw !important;
    max-height: 100px !important;
}

#producto-descripcion {
    font-size: 0.6rem !important;
}