#tarjeta-producto {
    margin: 0 1%;
    padding: 1vw;
    width: 18vw;
}

#tarjeta-producto #producto-img img {
    height: 12vw !important;
    margin: 0.5rem auto;
}

#tarjeta-producto #cuerpo-tarjeta {
    max-height: 100%;
}

#tarjeta-producto #cuerpo-tarjeta p {
    margin: 0;
}

#tarjeta-producto #cuerpo-tarjeta button {
    border: none;
}

#tarjeta-producto #cuerpo-tarjeta button:hover {
    background-color: var(--alter2) !important;
    color: var(--primary) !important;
}