/* Importing custom */
@import '_home';
@import '_cart';
@import '_login';
@import './components/_navpills';
@import './components/_footer';
@import './components/_carousel';
@import './components/_navbar';
@import './components/_tarjetas';
@import './components/_spinner';
@import './components/_carousel_burbujas';

/* Variables */
:root {
    --primary: #700548;
    --secondary: #FFE732;
    --alter1: #FFFFFF;
    --alter2: #28E1FA;
    --rgb-primary: rgb(112 5 72);
    --rgb-secondary: rgb(255 231 50);
    --rgb-alter1: rgb(255 255 255);
    --rgb-alter1-opacity75: rgb(255 255 255 /0.75);
    --rgb-alter1-opacity50: rgb(255 255 255 /0.5);
    --rgb-alter1-opacity25: rgb(255 255 255 /0.25);
    --rgb-alter2: rgb(40 225 250);
}