/* Carrusel */

/* Botones carrusel */

.carousel-control-prev, .carousel-control-next {
    background-color: var(--alter1);
    width: 5ch !important;
    height: 5ch !important;
    border-radius: 50%;
    margin: auto;
    padding: 0;
}

/* Wrapper */

.wrapper-burbujas {
    height: 100px;
    min-height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
}

/* Burbujas */

.burbuja {
    margin: 1vw;
    width: 10vw !important;
    height: 10vw !important;
    min-width: 125px;
    min-height: 125px;
    background-color: var(--alter1) !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 0.1s;
}

.burbuja:hover {
    transform: scale(0.95);
    box-shadow: 0 0 25px 1px var(--secondary);
}

.burbuja.active {
    box-shadow: 0 0 0 4px var(--secondary) !important;
}

.burbuja-img {
    width: 100%;
    padding: 20% !important;
}

/* Reglas para móviles */

@media (max-width: 767.98px) {

    .burbuja {
        min-width: 80px;
        min-height: 80px;
    }    

    .burbuja-img {
        width: 85% !important;
    }

}

@media (max-width: 575.98px) {
    
    .burbuja {
        min-width: 60px;
        min-height: 60px;
    }

    .burbuja-img {
        padding: 10% !important;
        margin: auto !important;
    }

}