/* Navbar */

#navbar-brand {
    letter-spacing: 0.1rem;
    transition: ease 0.25s
}

#navbar-brand:hover {
    color: var(--alter2) !important;
}

#navbar-toggler {
    transition: all .5s;
}

#navbar-toggler:active, #navbar-toggler:focus {
    /* Eliminar el borde que se crea cuando se le da click */
    border: 1px solid var(--secondary) !important;
    box-shadow: none !important;
}

#navbar-link {
    width: max-content;
}

#navbar-link > * {
    color: var(--secondary);
    transition: ease-in-out 0.1s;
}

/* Cambiar moneda */

#lista-mnds, #lista-mnds > * {
    min-width: min-content !important;
}

#select-mnd:hover, #select-mnd:focus, #select-mnd::selection, #select-mnd:active {
    background-color: var(--secondary);
    color: var(--primary) !important;
}

#item-mnd {
    transition-duration: 0.25s;
}


#item-mnd:hover {
    background-color: var(--alter2);
}

#item-mnd.active {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;  
}

#item-mnd.active:hover {
    background-color: var(--alter2) !important;
    color: var(--primary) !important;
}

/* Carrito */

#cart-brief, #cart-brief > * {
    border: 0 !important
}

#cart-brief:hover{
    background-color: var(--alter2) !important;
}

#cartbrief-btn {
    font-size: 1rem !important;
}

/* Búsqueda */

#searchbar-input {
    box-shadow: none;
    border-bottom: 1px solid var(--alter1) !important;
    transition: ease 0.25s;
}

#searchbar-input::placeholder {
    color: var(--alter1);
    transition: all 0.1s;
}

#searchbar-input:hover, #searchbar-input:focus {
    background-color: var(--alter1) !important;
    color: var(--primary) !important;
}

#searchbar-input:hover::placeholder {
    color: var(--primary) !important;
}

#searchbar-input::-webkit-search-decoration, #searchbar-input::-webkit-search-cancel-button {
    display: none;
}

#searchbar-clear {
    box-shadow: none !important;
    border: none !important;
    transition: visibility 0.25s;
}

/* Reglas para lg */

@media ( min-width: 992px ){

    #navbar-actions {
        flex-direction: row !important;
    }

    #navbar-link > *:hover {
    color: var(--alter2) !important;
    scale: 1.05;
    }

}

/* Reglas para móviles */

@media (max-width: 991.98px) {
    
    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        border-bottom: 1px solid var(--alter1);
    }

    #navbar-link {
        margin-left: auto;
    }
    
    #navbar-link > *:hover, #navbar-link > *:focus{
        color: var(--alter2);
    }
    
    #navbar-actions {
        flex-direction: column !important;
        gap: 10px;
        margin-bottom: 4ch;
    }

}

/* Reglas personalizadas */

@media (max-width: 1238px) {
    
    #cartbrief-cant {
        display: none !important;
    }

}

@media (max-width: 1109.98px) {

    #cartbrief-icon {
        margin: auto
    }

}