.container_tarjetas {
    width: 100%;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 250px));
    grid-auto-rows: auto;
    gap: 20px;
    row-gap: 10px;
}

.tarjeta-producto {
    list-style: none;
    background-color: var(--alter1);
    color: var(--primary);
    padding: 1.25em 1em;
    width: fit-content !important;
    min-width: 250px !important;
    max-width: 325px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    margin: 0 10px;
}

#badge-descuento {
    width: fit-content !important;
}

#tarjeta-btn-add:hover, #tarjeta-red-cant:hover, #tarjeta-sum-cant:hover {
    background-color: var(--alter2);
    border: 1px solid var(--alter2);
}

#tarjeta-input-group {
    width: auto !important;
}

#tarjeta-cant-field {
    width: 8ch !important;
}

@media (max-width: 1199.98px) {

    /* .container_tarjetas {
        display: flex;
        flex-direction: row;
        gap: 14px;
        flex-shrink: 1;
        flex-wrap: wrap;
        justify-content: flex-start;
    } */

    #producto-descripcion {
        font-size: 0.95rem !important;
    }

    
}
@media (max-width: 991.98px) {

    /* .container_tarjetas {
        display: flex;
        flex-direction: row;
        gap: 12px;
        flex-shrink: 1;
        flex-wrap: wrap;
        justify-content: space-evenly;
    } */

    #producto-descripcion {
        font-size: 0.85rem !important;
        
    }

}

@media screen and (max-width: 767.98px) {

    /* .container_tarjetas {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-shrink: 1;
        flex-wrap: wrap;
        justify-content: space-between;
    } */

}


