#tarjeta-producto {
    margin: 0 1%;
    padding: 1vw;
    width: 18vw;
    cursor: pointer;
    transition: ease-in-out 1s;
}

#tarjeta-producto #producto-img img {
    height: 10vw !important;
    margin: 0.5rem auto;
}

#tarjeta-producto #cuerpo-tarjeta {
    max-height: 100%;
}

#tarjeta-producto #cuerpo-tarjeta p {
    margin: 0;
}

#tarjeta-producto #cuerpo-tarjeta button {
    border: none;
}

#tarjeta-producto #cuerpo-tarjeta button:hover {
    background-color: var(--alter2) !important;
    color: var(--primary) !important;
}

#tarjeta-producto-detalles {
    font-size: 0.75rem;
}