.container_tarjetas {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 16px;
}

.tarjeta-producto {
    list-style: none;
    background-color: var(--alter1);
    color: var(--primary);
    padding: 1.25em 1em;
    width: fit-content !important;
    min-width: min-content !important;
    max-width: 400px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#producto-img {
    position: inherit !important;
    margin: auto !important;
    width: auto !important;
    height: 25vh !important;
}

#badge-descuento {
    width: fit-content !important;
}

@media (max-width: 991.98px) {

    #producto-img {
        position: inherit !important;
        width: auto !important;
        height: 50% !important;
    }

    #producto-descripcion {
        font-size: 0.5rem;
        
    }
}

@media screen and (width <= 767.98px) {

    .container_tarjetas {
        display: flex;
        flex-direction: column;
    }

    .tarjeta-producto {
        width: 100%!important;
        
    }   

    #producto-img {
        position: inherit !important;
        width: 90% !important;
        max-width: 200px;
        max-height: 210px !important;
    }
}
