.burbuja {
    margin: 3em auto;
    background-color: var(--alter1) !important;
    width: 250px;
    border-radius: 50%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    box-shadow: 0 0 0 6px var(--secondary) !important;
}

.burbuja-img {
    width: 100%;
}